<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="40" *ngIf="item">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>
          <h3>{{item.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-title-group>
      <img matCardImage src={{item.image}} alt={{item.name}}>
      <mat-card-content>
        <p>{{item.description}}
        </p>
      </mat-card-content>
      <mat-card-actions align="start">
        
        
      </mat-card-actions>
    </mat-card>
    <button mat-raised-button color="primary" (click)="goBack()">BACK</button>
  </div>

  <div fxFlex="40" *ngIf="item && item.comments">
    <h1>Detalles del producto</h1>
    <mat-list>
      <mat-list-item >
        <p matLine>Nombre: {{item.name}}</p>
        <p matLine>Categoria: {{item.category}}</p>
        <p>Description: {{item.description}}
      </mat-list-item>
    </mat-list>
  </div>
</div>
