<div class="form-container">
    <mat-card>
      <mat-card-title>
        Detalle de Producto
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="fields-container">
          <div>
            <mat-form-field class="input-field">
              <input [(ngModel)]="item.modelo" matInput placeholder="Modelo" value="">
            </mat-form-field>
            <br>
            <mat-form-field class="input-field">
                <input [(ngModel)]="item.marca" matInput placeholder="Marca" value="">
              </mat-form-field>
            <br>
            
          </div>
          <div>
            <mat-form-field class="input-field">
              <input [(ngModel)]="item.cantidad" matInput placeholder="Cantidad" value="">
            </mat-form-field>
            <br>
            <mat-form-field class="input-field">
              <input [(ngModel)]="item.gasto_total" matInput placeholder="Precio" value="">
            </mat-form-field>
            $us.
            <br>
          
          </div>
        </div>
        <div class="images">
          <div class="image">
            <img [src]="item.image0" *ngIf="item.image0">
          </div>
          <div class="image">
            <img [src]="item.image1" *ngIf="item.image1">
          </div>
          <div class="image">
            <img [src]="item.image2" *ngIf="item.image2">
          </div>
        </div>
        <br>
      </mat-card-content>

      <button mat-raised-button color="primary" (click)="deleteItem()">Eliminar</button>
  
      <mat-divider></mat-divider>
      <mat-card-footer>
        <a routerLink="/catalog" mat-button>Regresar</a>
      </mat-card-footer>
    </mat-card>
  </div>