<div class="form-container">
    <mat-card>
      <mat-card-title>
        Agregar Producto
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="fields-container">
          <div>
            <mat-form-field class="input-field">
              <input [(ngModel)]="item.modelo" matInput placeholder="Modelo" value="">
            </mat-form-field>
            <br>
            <mat-form-field class="input-field">
              <mat-label>Marca</mat-label>
              <mat-select [(ngModel)]="item.marca">
                <mat-option *ngFor="let marca of marcas" [value]="marca">
                  {{marca}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="input-field">
              <mat-label>Categoría</mat-label>
              <mat-select [(ngModel)]="selectedCategory">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="input-field">
              <input [(ngModel)]="item.capacidad" matInput placeholder="Capacidad / Potencia" value="">
            </mat-form-field>
          </div>
          <div>
            <div class="radio">
              <label class="radio-label">Estado del item</label>
              <mat-radio-group [(ngModel)]="item.estado">
                <mat-radio-button class="radio-value" [value]="0" color="primary"> Nuevo </mat-radio-button>
                <mat-radio-button class="radio-value" [value]="1" color="primary"> Usado </mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field class="input-field">
              <input [(ngModel)]="item.cantidad" matInput placeholder="Cantidad" value="">
            </mat-form-field>
            <br>
            <mat-form-field class="input-field">
              <input [(ngModel)]="item.gasto_total" matInput placeholder="Precio" value="">
            </mat-form-field>
            $us.
            <br>
          <div class="choose-file">
            <button class="input-button" mat-stroked-button color="primary">
              <mat-icon>photo</mat-icon>
              Añadir imagen
            </button>
            <input type="file" (change)="onSelectFile($event)" class="input-file"/>
          </div>
          </div>
        </div>
        <div class="images">
          <div class="image">
            <img [src]="image0" *ngIf="image0">
          </div>
          <div class="image">
            <img [src]="image1" *ngIf="image1">
          </div>
          <div class="image">
            <img [src]="image2" *ngIf="image2">
          </div>
        </div>
        <br>
        <button mat-raised-button color="primary" (click)="saveItem()">Guardar</button>
      </mat-card-content>
  
      <mat-divider></mat-divider>
      <mat-card-footer>
        <a routerLink="/catalog" mat-button>Regresar</a>
      </mat-card-footer>
    </mat-card>
  </div>
  
  <div>{{item.marca}}</div>
  <div>{{item.modelo}}</div>