<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div fxLayoutGap="1.5em" fxLayout="row wrap">
      <h3>Catalogo</h3>
     
      <mat-form-field>
          <mat-label>Seleccion Categoria</mat-label>
          <mat-select placeholder="Categoria" [(value)]="selectedItem"  (selectionChange)="filterCatalog($event)">
            <mat-option>Todas</mat-option>
            <mat-option *ngFor="let obj of categories" [value]="obj.nombre">
                {{ obj.nombre }}
            </mat-option>
    
          </mat-select>
        </mat-form-field>

    </div>
    <hr>
    <h1> {{selectedItem}}</h1>
  </div>

  <div fxLayoutGap="2.3em" fxLayout="row wrap">
    
    <mat-card class="example-card" *ngFor="let item of items">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>settings</mat-icon>
        </div>
        <mat-card-title>{{item.modelo}}</mat-card-title>
        <mat-card-subtitle>Categoria: {{item.nombre_categoria}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{item.image0}}" alt="imagen">
      <mat-card-content>
      </mat-card-content>
      <!-- <mat-card-actions> -->
        <div center>
          <button mat-raised-button color="primary" [routerLink]="['/itemdetail', item.id]">Ver Detalle</button>
        </div>
      <!-- </mat-card-actions> -->
    </mat-card>
    
  </div>
</div>
<div button-fabs>
  <button mat-mini-fab color="warn" aria-label="Agregar item" matTooltip="Agregar item" [routerLink]="['/create']">
    <mat-icon>add</mat-icon>
  </button>
</div>